<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <li><a href='/signup'>signup</a> Signup for a local account.</li>
      <li><a href='/login'>login</a> Login to your local account.</li>
      <li><a href='/fluffy'>fluffy</a> Login User Only.</li>
      <li><a href='/logout'>logout</a> Logout.</li>
    </ul>
  </body>
</html>
